@charset "UTF-8";

body{
  background:#ffffff;
  width:1200px;
  height:720px;
}
/*header*/
header {
  margin: 10px;
  padding: 10px;
  height: 30px;
  background: #7c7c7c;
}

.menu * {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  color: #cb0404;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.menu  {
  color: inherit;
  text-decoration: none;
}

.menu :visited {
  color: #749c2c;
}

.menu .menu_1 {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}

.menu .menu_button {
  display: block;
  background: none;
  border: none;
  padding: 0;
  width: 42px;
  letter-spacing: 0.1em;
  color: #ea1a06;
  cursor: pointer;
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1001;
  text-align: center;
  outline: none;
}

.menu .menu_button.active .menu_bar {
  display: block;
  height: 2px;
  margin: 10px 0;
  background-color: #ea1a06;
  transition: all 0.2s;
  transform-origin: 0 0;
}

.menu .menu_button.active .menu_bar1 {
  background-color: #ea1a06;
  display: block;
  transform: rotate(30deg);
}

.menu .menu_button.active .menu_bar2 {
  background-color: #ea1a06;
  display: block;
  opacity: 0;
}

.menu .menu_button.active .menu_bar3 {
  background-color:  #ea1a06;
  display: block;
  transform: rotate(-30deg);
}

.menu .button.active .menu_text {
  display: none;
}

.menu .menu_button.active .menu_text_close {
  display: block;
}

.menu .menu_bar {
  display: block;
  color: #ea1a06;
  height: 2px;
  margin: 10px 0;
  transition: all 0.2s;
  transform-origin: 0 0;
}

.menu .menu_text {
  text-align: center;
  font-size: 10px;
}

.menu .menu_text_close {
  letter-spacing: 0.08em;
  display: none;
}

.menu .menu_text {
  display: block;
}

.menu .menu_nav_wrapper {
  width: 312px;
  height: 100%;
  background-color: #749c2c;
  transition: all 0.2s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFF;
}

.menu .menu_nav_wrapper.open {
  transform: translate(0);
}

.menu.left .menu_button {
  right: auto;
  left: 32px;
}

.menu.left .menu_nav_wrapper {
  transform: translate(-312px);
  right: auto;
  left: 0;
}

.menu.left .menu_nav_wrapper.open {
  transform: translate(0);
}

/*ナビの調整*/
.menu .menu_nav {
  padding: 112px 24px;
  color: #aaaaaa;
}

.menu .menu_nav li {
  font-size: 16px;
  margin-bottom: 15px;
}

/*buttonの調整*/
.menu .menu_button {
  color: #276490;
}

.menu .menu_button .menu_bar {
  background-color: #276490;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-erea{
  text-align:center;
  position: relative;
  margin-right: auto;
  font-size: 30px;
  color: #cce02f;
}

/*main*/
/*gear*/
.parent{
  display: flex;
  height: 500px;
}

.gear{
  position: relative;
  top: 20px;
  right: 450px;
  width: 200px;
  height: 200px;
  margin: auto;
  background: #848484;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.gear .center{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 50%;
}

.tooth{
  position: absolute;
  top: -25px;
  left: 75px;
  z-index: 1;
  width: 45px;
  height: 250px;
  background:#848484;
}

.tooth:nth-child(2){
  transform: rotate(45deg);
}

.tooth:nth-child(3){
  transform: rotate(90deg);
}

.tooth:nth-child(4){
  transform: rotate(135deg);
}

.gear{
  transition: transform 10s ease-in-out;
}

.gear:hover{
  transform: rotate(360deg);
}